langchain
langchain-core
langchain-community

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai

openai
google-generativeai
groq
mistralai

python-dotenv

pydantic
requests
httpx
tiktoken